html {
    height: 100%;
}
body {
    min-width: 100%;
}
#navegador > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
#navegador {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;/*tamaño de columnas*/
    grid-template-rows: auto auto;/*tamaño de filas*/
    grid-template-areas: 
    "familia familia familia familia"
    "historia arte vision mision";
}
#familia {
    grid-area: familia;
    background-color: beige;
}
#historia {
    grid-area: historia;
    background-color: bisque;
}
#arte {
    grid-area: arte;
    background-color: beige;
}
#vision {
    grid-area: vision;
    background-color: bisque;
}
#mision {
    grid-area: mision;
    background-color: beige;
}
@media (min-width: 600px){
    #navegador {
        display: grid;
        gap: 10px;
        grid-template: /*manera elegante de setear orden y tamaño de areas*/
        "familia familia familia familia" 200px
        "historia arte    vision  mision" 200px /
        auto      auto    auto     auto ;
}